<ion-header>
	<ion-toolbar >
		<ion-buttons slot="start">
			<ion-menu-button (click)="toggleMenu()" auto-hide="false"><img src="assets/imgs/ic_menu.png"></ion-menu-button>
		</ion-buttons>
		<ion-title>
			<div class="title_inner d-flex">
				<!-- <h3 class="page_title">{{'app_title' | translate}}</h3> -->
				<span class="end cart_icon" (click)="cart()">
					<img src="assets/imgs/ic_my_cart.png">
					<ion-badge>1</ion-badge>
				</span>
			</div>
		</ion-title>
	</ion-toolbar>

	<div class="search_box d-flex" (click)="search()">
		<ion-icon class="zmdi zmdi-search ion-text-start"></ion-icon>
		<h2>{{'placeholder_search' | translate}}</h2>
	</div>
</ion-header>

<ion-content>
	<div class="banner">
			<ion-slides  [options]="slideOpt" pager="true" loop="true">
			<ion-slide>
				<div class="img_box center_img">
					<img src="assets/imgs/banners/banner_1.jpg" class="crop_img">
				</div>
			</ion-slide>
			<ion-slide>
				<div class="img_box center_img">
					<img src="assets/imgs/banners/banner_2.jpg" class="crop_img">
				</div>
			</ion-slide>
			<ion-slide>
				<div class="img_box center_img">
					<img src="assets/imgs/banners/banner_3.jpg" class="crop_img">
				</div>
			</ion-slide>
			<ion-slide>
				<div class="img_box center_img">
					<img src="assets/imgs/banners/banner_4.jpg" class="crop_img">
				</div>
			</ion-slide>
			<ion-slide>
				<div class="img_box center_img">
					<img src="assets/imgs/banners/banner_5.gif" class="crop_img">
				</div>
			</ion-slide>
			<ion-slide>
				<div class="img_box center_img">
					<img src="assets/imgs/banners/banner_6.gif" class="crop_img">
				</div>
			</ion-slide>
		</ion-slides>
	</div>


<div class="category_row">
	<h4 class="ion-text-center">Top Deals Starts in  <ion-badge item-end>{{displayTime}}</ion-badge></h4>
  <ion-grid no-margin>
  		<ion-slides [options]="slideOpts" pager="true" loop="true">
		
<ion-slide>
    <ion-row>
      <ion-col>
        <img src="assets/imgs/banners/banner_1.jpg" class="crop_img">
      </ion-col>
      <ion-col>
         <img src="assets/imgs/banners/banner_2.jpg" class="crop_img">
        </ion-col>
    </ion-row>
    </ion-slide>

    	<ion-slide>
    <ion-row>
      <ion-col>
       <img src="assets/imgs/banners/banner_3.jpg" class="crop_img">
      </ion-col>
      <ion-col>
        
         <img src="assets/imgs/banners/banner_4.jpg" class="crop_img">
      </ion-col>
    </ion-row>
</ion-slide>

</ion-slides>
  </ion-grid>
</div>

    <div class="category_row">
		<h4 class="ion-text-center">Our Features</h4>
		
			<ion-row>
				<ion-col size="4">
				<div class="item_box ion-text-center" >
					<div class="img_box center_img">
						 <img src="assets/icon/icon-2.png" alt="">
					</div>
					<h2>exclusive <br>coupons</h2>
				</div>
			</ion-col>
			<ion-col size="4">
				<div class="item_box ion-text-center" >
					<div class="img_box center_img">
						 <img src="assets/icon/icon-5.png" alt="">
					</div>
					<h2>24/7 hours <br>support</h2>
				</div>
			</ion-col>
			<ion-col size="4">
				<div class="item_box ion-text-center" >
					<div class="img_box center_img">
						 <img src="assets/icon/icon-3.png" alt="">
					</div>
					<h2>1000+ <br>Products</h2>
				</div>
			</ion-col>
			<ion-col size="4">
				<div class="item_box ion-text-center" >
					<div class="img_box center_img">
						 <img src="assets/icon/icon-1.png" alt="">
					</div>
					<h2>Extra <br> CashBack</h2>
				</div>
			</ion-col>
			<ion-col size="4">
				<div class="item_box ion-text-center">
					<div class="img_box center_img">
						<img src="assets/icon/icon-4.png" alt="">
					</div>
					<h2>cashback <br> paid</h2>
				</div>
			</ion-col>
			<ion-col size="4">
				<div class="item_box ion-text-center">
					<div class="img_box center_img">
						<img src="assets/icon/icon-7.png" alt="">
					</div>
					<h2>2000+ happy <br> customers</h2>
				</div>
			</ion-col>
		</ion-row>
	</div>

	<div class="category_row">
		<h4 class="ion-text-center">{{'home_cat_title' | translate }}</h4>
		
			<ion-row>
			<ion-col size="4">
				<div class="item_box ion-text-center" (click)="category()">
					<div class="img_box center_img">
						<img src="assets/imgs/category/category_19.png" class="crop_img">
					</div>
					<h2>Vegetables & <br> Fruits</h2>
				</div>
			</ion-col>
			<ion-col size="4">
				<div class="item_box ion-text-center" (click)="category()">
					<div class="img_box center_img">
						<img src="assets/imgs/category/category_20.png" class="crop_img">
					</div>
					<h2>Bakery & Dairy <br> products</h2>
				</div>
			</ion-col>
			<ion-col size="4">
				<div class="item_box ion-text-center" (click)="category()">
					<div class="img_box center_img"> 
						<img src="assets/imgs/category/category_3.png" class="crop_img">
					</div>
					<h2>Foodgrains Oil <br> & masaala</h2>
				</div>
			</ion-col>

			<ion-col size="4">
				<div class="item_box ion-text-center" (click)="category()">
					<div class="img_box center_img">
						<img src="assets/imgs/category/category_4.png" class="crop_img">
					</div>
					<h2>Beverages & <br> drinks</h2>
				</div>
			</ion-col>
			<ion-col size="4">
				<div class="item_box ion-text-center" (click)="category()">
					<div class="img_box center_img">
						<img src="assets/imgs/category/category_5.png" class="crop_img">
					</div>
					<h2>Branded foods <br> products</h2>
				</div>
			</ion-col>
			<ion-col size="4">
				<div class="item_box ion-text-center" (click)="category()">
					<div class="img_box center_img">
						<img src="assets/imgs/category/category_6.png" class="crop_img">
					</div>
					<h2>Beauty & <br>hygiene</h2>
				</div>
			</ion-col>

			<ion-col size="4">
				<div class="item_box ion-text-center" (click)="category()">
					<div class="img_box center_img">
						<img src="assets/imgs/category/category_7.png" class="crop_img">
					</div>
					<h2> Household & <br> products</h2>
				</div>
			</ion-col>
			<ion-col size="4">
				<div class="item_box ion-text-center" (click)="category()">
					<div class="img_box center_img">
						<img src="assets/imgs/category/category_19.png" class="crop_img">
					</div>
					<h2> Fish, Meat <br>& Eggs</h2>
				</div>
			</ion-col>
			<ion-col size="4">
				<div class="item_box ion-text-center" (click)="category()">
					<div class="img_box center_img">
						<img src="assets/imgs/category/category_20.png" class="crop_img">
					</div>
					<h2>Vegetables & <br> Fruits</h2>
				</div>
			</ion-col>
			<ion-col size="4">
				<div class="item_box ion-text-center" (click)="category()">
					<div class="img_box center_img">
						<img src="assets/imgs/category/category_8.png" class="crop_img">
					</div>
					<h2>Vegetables & <br> Fruits</h2>
				</div>
			</ion-col>
			<ion-col size="4">
				<div class="item_box ion-text-center" (click)="category()">
					<div class="img_box center_img">
						<img src="assets/imgs/category/category_9.png" class="crop_img">
					</div>
					<h2>Bakery & Dairy <br> products</h2>
				</div>
			</ion-col>
			<ion-col size="4">
				<div class="item_box ion-text-center" (click)="category()">
					<div class="img_box center_img">
						<img src="assets/imgs/category/category_10.png" class="crop_img">
					</div>
					<h2>Foodgrains Oil <br> & masaala</h2>
				</div>
			</ion-col>

			<ion-col size="4">
				<div class="item_box ion-text-center" (click)="category()">
					<div class="img_box center_img">
						<img src="assets/imgs/category/category_11.png" class="crop_img">
					</div>
					<h2>Beverages & <br> drinks</h2>
				</div>
			</ion-col>
			<ion-col size="4">
				<div class="item_box ion-text-center" (click)="category()">
					<div class="img_box center_img">
						<img src="assets/imgs/category/category_12.png" class="crop_img">
					</div>
					<h2>Branded foods <br> products</h2>
				</div>
			</ion-col>
			<ion-col size="4">
				<div class="item_box ion-text-center" (click)="category()">
					<div class="img_box center_img">
						<img src="assets/imgs/category/category_13.png" class="crop_img">
					</div>
					<h2>Beauty & <br>hygiene</h2>
				</div>
			</ion-col>

			<ion-col size="4">
				<div class="item_box ion-text-center" (click)="category()">
					<div class="img_box center_img">
						<img src="assets/imgs/category/category_14.png" class="crop_img">
					</div>
					<h2> Household & <br> products</h2>
				</div>
			</ion-col>
			<ion-col size="4">
				<div class="item_box ion-text-center" (click)="category()">
					<div class="img_box center_img">
						<img src="assets/imgs/category/category_15.png" class="crop_img">
					</div>
					<h2> Fish, Meat <br>& Eggs</h2>
				</div>
			</ion-col>
			<ion-col size="4">
				<div class="item_box ion-text-center" (click)="category()">
					<div class="img_box center_img">
						<img src="assets/imgs/category/category_16.png" class="crop_img">
					</div>
					<h2>Vegetables & <br> Fruits</h2>
				</div>
			</ion-col>

		</ion-row>
	</div>
</ion-content>